@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial;
  background-color: #f7f7f7;
  color: #333;

  a {
    text-decoration: none;
  }

  #root {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    padding: 36px;

    .app {
      footer {
        text-align: center;
        margin-top: 36px;

        svg {
          fill: #777;

          &:hover {
            fill: #000;
          }
        }
      }

      .coinTabs {
        text-align: center;
        list-style-type: none;
        padding-left: 0;

        li {
          display: inline-block;
          padding: 12px;
          cursor: pointer;
          min-width: 50px;

          &.selected {
            font-weight: bold;
          }
        }
      }

      .volumeTitle {
        text-align: center;
      }

      .volumeRow {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      .pieContainer {
        width: 400px;
        height: 400px;
        padding: 25px;
        position: relative;
      }

      .exchangeInfoContainer {
        width: 350px;
        height: 375px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
        padding-bottom: 25px;
        border: 1px solid #000;

        h3 {
          padding: 10px;
          color: #fff;
          margin: 0;
          border-bottom: 1px solid #000;
        }

        ul {
          list-style-type: none;
          line-height: 44px;
          padding: 0;
          padding-left: 10px;
        }
      }
    }
  }
}
